USE [master]
GO
/****** Object:  Database [CrawlerDB]    Script Date: 04/02/2016 20:05:04 ******/
CREATE DATABASE [CrawlerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrawlerDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CrawlerDB.mdf' , SIZE = 20544KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CrawlerDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CrawlerDB_log.ldf' , SIZE = 78080KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrawlerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrawlerDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/02/2016 20:05:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 04/02/2016 20:05:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categoria] PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estado]    Script Date: 04/02/2016 20:05:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[EstadoId] [int] IDENTITY(1,1) NOT NULL,
	[Sigla] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Estado] PRIMARY KEY CLUSTERED 
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTwitter]    Script Date: 04/02/2016 20:05:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTwitter](
	[PostTwitterId] [int] IDENTITY(1,1) NOT NULL,
	[NomeUsuario] [nvarchar](max) NULL,
	[Texto] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[EstadoId] [int] NOT NULL,
	[CategoriaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PostTwitter] PRIMARY KEY CLUSTERED 
(
	[PostTwitterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([CategoriaId], [Nome]) VALUES (1, N'Assalto')
INSERT [dbo].[Categoria] ([CategoriaId], [Nome]) VALUES (2, N'Furto')
INSERT [dbo].[Categoria] ([CategoriaId], [Nome]) VALUES (3, N'Roubo')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([EstadoId], [Sigla], [Nome]) VALUES (1, N'AC', N'Acre')
INSERT [dbo].[Estado] ([EstadoId], [Sigla], [Nome]) VALUES (2, N'AL', N'Alagoas')
INSERT [dbo].[Estado] ([EstadoId], [Sigla], [Nome]) VALUES (3, N'AM', N'Amazonas')
SET IDENTITY_INSERT [dbo].[Estado] OFF
SET IDENTITY_INSERT [dbo].[PostTwitter] ON 

INSERT [dbo].[PostTwitter] ([PostTwitterId], [NomeUsuario], [Texto], [Data], [EstadoId], [CategoriaId]) VALUES (58554, N'grandexmistake', N'minha cidade é acre news roça mas aqui n tem assalto n', N'30/01/2016', 1, 1)
INSERT [dbo].[PostTwitter] ([PostTwitterId], [NomeUsuario], [Texto], [Data], [EstadoId], [CategoriaId]) VALUES (58557, N'BomDiaAcre', N'Suspeito de assalto, menor morre ao tentar fugir da polícia em Rio Branco https://t.co/Naj8h8J71p', N'26/01/2016', 1, 1)
INSERT [dbo].[PostTwitter] ([PostTwitterId], [NomeUsuario], [Texto], [Data], [EstadoId], [CategoriaId]) VALUES (58558, N'JornaldoAC', N'Suspeito de assalto, menor morre ao tentar fugir da polícia em Rio Branco https://t.co/N5JShnU91N', N'26/01/2016', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[PostTwitter] OFF
/****** Object:  Index [IX_CategoriaId]    Script Date: 04/02/2016 20:05:04 ******/
CREATE NONCLUSTERED INDEX [IX_CategoriaId] ON [dbo].[PostTwitter]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstadoId]    Script Date: 04/02/2016 20:05:04 ******/
CREATE NONCLUSTERED INDEX [IX_EstadoId] ON [dbo].[PostTwitter]
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PostTwitter]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostTwitter_dbo.Categoria_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([CategoriaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTwitter] CHECK CONSTRAINT [FK_dbo.PostTwitter_dbo.Categoria_CategoriaId]
GO
ALTER TABLE [dbo].[PostTwitter]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostTwitter_dbo.Estado_EstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Estado] ([EstadoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTwitter] CHECK CONSTRAINT [FK_dbo.PostTwitter_dbo.Estado_EstadoId]
GO
USE [master]
GO
