@{
    ViewBag.Title = "Graficos";
}

<div class="container">
    <div>
        <br />
        <br />

        <div>
            <div class="col-md-10">
                @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @id = "categorias" })
            </div>
        </div>
    </div>

    <br /><br /><br />

    <div id="divGraficos">
        <div id="grafico" style="width: 90%; height: auto"></div>
    </div>
    <br /><br /><br /><br/>
</div>
