@{
    ViewBag.Title = "Tipos de violência";
}

<div class="container">
    <div>
        <br />
        <br />

        <div>
            <div class="col-md-2">
                @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @id = "categorias" })
            </div>
            <div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="25/01/2016" id="DataInicioGB" data-placement="top" title="DD/MM/AAAA">
                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        <input type="text" class="form-control" placeholder="10/04/2016" id="DataFimGB" data-placement="top" title="DD/MM/AAAA">
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <input type="submit" value="Visualizar" class="btn btn-outline-primary" id="btnGerarGraficoGB" />
            </div>
        </div>

    </div>
    
    

    <br /><br /><br />

    <div id="divGraficos">
        <div id="grafico" style="width: 90%; height: auto"></div>
    </div>
    <br /><br /><br /><br />
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqplotPlugins")
    @Scripts.Render("~/bundles/graficos")
}
