
@{
    ViewBag.Title = "SMVB";
}

<div class="home container text-center">
    <h3><strong>Sistema de Mapeamento da Violência no Brasil(SMVB)</strong></h3>
    
    <br/><br />
    <p>
        Trabalho de conclusão de curso realizado no curso de Pós-Graduação em Especialização em Desenvolvimento Web pela
        <a href="http://pucminas.br/destaques/destaques.php">PUC Minas</a>.
    </p>
    
    <br /><br />
    <p>
        Este trabalho tem por objetivo verificar se é possível mapear a violência no Brasil através de tweets na rede
        social <a href="https://twitter.com/">Twitter</a>.
    </p>
</div>