@model PagedList.IPagedList<Crawler.BLL.Models.PostTwitter>
<style type="text/css">.label-outline-danger { }</style>

<div id="divTweets">
    <table class="table table-striped table-condensed table-hover">
        <tr>
            <th>
                Categoria
            </th>
            <th>
                Estado
            </th>
            <th>
                Texto
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="label label-outline-danger control-label">
                        @Html.DisplayFor(modelItem => item.Categoria.Nome)
                    </div>
                </td>
                <td>
                    <div class="label label-outline-primary control-label">
                        @Html.DisplayFor(modelItem => item.Estado.Nome)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
            </tr>
        }

    </table>
</div>


